
body{
	background-image: url(media/body.png);
}
.field{
	font-size: 20px;
}
#wrapper{
	width: 800px;
	margin: 0px auto;
	padding: 10px;
	border: 2px solid #a0c3ff;
	border-radius: 20px;
	background-color: white;
}
img {
	height: 200px;
	width: 200px;
	border-radius: 15px;

}
#form {
	margin: 10px;
}
#profile{
	text-align: center;
	font-size: 30px;
	font-family: 'Comfortaa', cursive;
	display: flex;
	align-items: center;
	flex-direction: column;

}